{% extends "layouts.html" %}
{% block title %}
About
{% endblock %}




{% block body %}
<style>

body{
				background-color: #A9A9A9;
        		font-family: Arial,Helvetica,Sans-sreif;
        		background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20190223/ourmid/pngtree-black-minimalist-atmospheric-wooden-background-backgroundwooden-backgroundtree-texture-image_77053.jpg);
        		position: fixed;
        		text-align: center;
     
			}

		h1{
				color: white;
				text-align: center;
				margin-left : 100px;
				font-weight: normal;
				font-family: 'Ultra', sans-serif;   
				font-size: 36px;
				line-height: 42px;
				text-transform: uppercase;
				text-shadow: 2px 2px 4px black;
			}

		div{
			font-family: sans-serif;
		}
	</style>
<h1>Futureproof Lab Project</h1>
<a href="{{ url_for('login') }}"><button>Login</button></a>
<a href="{{ url_for('signup') }}"><button>Sign Up</button></a>
{% endblock %}